@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #E5E5E5;
}

.button {
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active {
  box-shadow: inset -4px 4px 0 #222;
}

@font-face {
  font-family: 'Pokemon-Solid';
  src: url('./fonts/Pokemon-Solid.ttf') format('truetype');
}


@keyframes mymove {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#mymove {
  animation: mymove 2s infinite;
  transform-origin: center center;
}

@keyframes mymove2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#mymove2 {
  animation: mymove2 2s infinite;
  transform-origin: center center;
  margin-left: 0.3rem;
  margin-right: 0.1rem;
}

#spinner {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}